body {
	background: #000;
}

.campo {
	width: 700px;
	height: 500px;
	border: 1px solid #fff;
	background: #333;
	margin: auto;
}

.snake {
	width: 9px;
	height: 9px;
	border-radius: 20%;
	background: #fff;
	position: absolute;
	animation: cores 1s infinite;
}

.container {
	width: 100%;
	display: block;
}

.col-3 {
	width: 300px;
	display: inline-block;
	float: left;
}

.col-6 {
	width: 710px;
	margin: auto;
	display: inline-block;
	float: left;
}

span {
	animation: colorCores 1s infinite;
}

h2 {
	color: #fff;
}

@keyframes colorCores {
	0%  {color: #800}
	30% {color: #ff0}
	60% {color: #f0f}
	90% {color: #0ff}
}

@keyframes cores {
	0%  {background:  #FFFACD;}
	25% {background:  #E0FFFF;}
	50% {background:  #EEE8AA;}
	75% {background:  #D8BFD8;}
}
